<!-- Start of Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <h4 class="title">关于我们</h4>
                    <div class="content">
                        <p>川农信工院新生服务平台主要包括学校与学院的简介、学院专业的介绍、学校生活等方面的攻略</p>
                        <p>Producer for the Web：shy &amp; horol</p>
                        <p>Contact：604728559</p>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h4 class="title">信工院2017级新生群</h4>
                    <div class="content">
                        <img src="__IMG__/xgy2017.jpg" />
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h4 class="title">四川农业大学官方微信</h4>
                    <div class="content">
                        <img src="__IMG__/cn.jpg" />
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h4 class="title">信息工程学院官方微信</h4>
                    <div class="content">
                        <img src="__IMG__/xgy.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>更多信息请关注官网和官方微信公众号</span>
                <span>Copyright&copy;2017-新生服务平台</span>
            </div>
        </div>
    </div>
</div>
<!-- End of Footer -->