<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">

            <div class="logo-container">
                <!-- Website Logo -->
                <a href="../index.html">
                    <span class="wh">四川农业大学新生服务平台</span>
                </a>
                <span class="tl">新生答疑</span>
            </div>

            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li>
                            <a href="{:url('index')}">Q&A</a>
                        </li>
                        <li>
                            <a href="{:url('index/commonquestion')}">新生百问</a>
                        </li>
                        <li>
                            <a href="{:url('index/answer')}">我要提问</a>
                        </li>
                        <li>
                            <a href="{:url('admin/login')}">管理员</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->