<!-- start of sidebar -->
<aside class="span4 page-sidebar">

    <section class="widget">
        <div class="support-widget">
            <h3 class="title">帮助</h3>
            <p class="intro">想要更多的帮助？请扫描页面下方的二维码加入新生群，师兄师姐们会解答你的问题。</p>
        </div>
    </section>

    <section class="widget">
        <h3 class="title">常见问题</h3>
        <ul class="articles">
            <li class="article-entry standard">
                <h4><a href="{:url('index/commonquestion#q1')}">进校后进校的具体流程是什么？</a></h4>
                <br>
            </li>
            <li class="article-entry standard">
                <h4><a href="{:url('index/commonquestion#q2')}">宿舍楼，寝室内部条件设施如何?</a></h4>
                <br>
            </li>
            <li class="article-entry standard">
                <h4><a href="{:url('index/commonquestion#q3')}">大学学习和高中有什么本质区别?</a></h4>
                <br>
            </li>
            <li class="article-entry standard">
                <h4><a href="{:url('index/commonquestion#q4')}">有哪些主要教学设施楼及其用途？</a></h4>
                <br>
            </li>
        </ul>
    </section>
    <section class="widget">
        <h3 class="title">相关链接</h3>
        <ul>
            <li>
                <a href="http://www.sicau.edu.cn/">四川农业大学</a>
            </li>
            <li>
                <a href="http://jiaowu.sicau.edu.cn">川农教务处</a>
            </li>
            <li>
                <a href="http://xxgc.sicau.edu.cn/" >信息工程学院</a>
            </li>
            <li>
                <a href="http://www.wingstudio.org/" >WingStudio工作室</a>
            </li>
        </ul>
    </section>
</aside>
<!-- end of sidebar -->