<!--<!doctype html>-->
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn">
	<!--<![endif]-->

	<head>
		<!-- META TAGS -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>新生百问</title>

		<!-- Style Sheet-->
		<link rel="stylesheet" href="__CSS__/style.css" />
		<link rel='stylesheet' id='bootstrap-css-css' href='__CSS__/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
		<link rel='stylesheet' id='responsive-css-css' href='__CSS__/responsive5152.css?ver=1.0' type='text/css' media='all' />
		<link rel='stylesheet' id='pretty-photo-css-css' href='__JS__/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
		<link rel='stylesheet' id='main-css-css' href='__CSS__/main5152.css?ver=1.0' type='text/css' media='all' />
		<link rel='stylesheet' id='custom-css-css' href='__CSS__/custom5152.html?ver=1.0'  media='all' />

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
                <script src="__JS__/html5.js"></script></script>
                <![endif]-->

	</head>

	<body>

		{include file="public/header" /}

		<!-- Start of Page Container -->
		<div class="page-container">
			<div class="container">
				<div class="row">

					<!-- start of page content -->
					<div class="span8 page-content">

						<article class=" page type-page hentry clearfix">
							<h1 class="post-title"><a href="#">新生百问</a></h1>
							<a href="{:url('index/download?file_url=xsbw.pdf&new_name=新生百问.pdf')}" style="color: #149bdf"> &nbsp;&nbsp;&nbsp;附件：新生百问手册下载</a>
							<hr>
							<p>各位17级新生现在应该都拿到录取通知书了吧，相信小萌新们心中一定有很多的问题等待着解答。没问题！这里整理了部分新生问答！快来找找有没有你想问的问题吧！（另外大家也可以在新生群里大胆的去问师兄师姐哦）</p>
						</article>

						<div class="faqs clearfix">

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
                                    <a href="#">新生入学必备物品有哪些？</a>
                                </h3>
								<div class="faq-answer">
									录取通知书；户口本；身份证及正反两面复印件（在学校也
									会有地方复印，但是开学肯定人很多还要排队），党、团组织关
									系证明（一般都是在档案袋里，不要搞丢了，不然还得重新申请
									入团，这么多年团费就白交了），若干百元大钞和银行卡1张。（当地办)
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">开学的时候需不需要带1寸照片？</a>
								</h3>
								<div class="faq-answer">
									一般情况下是不需要的，开学报道时会有照相，会有一寸照片
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#" name="q1">进校后进校的具体流程是什么？</a>
								</h3>
								<div class="faq-answer">
									雅安校区：坐校车到校内一到自己所在院摊位处存放行李→在师兄师姐带领下到综合楼一楼缴纳学年费用→到逸夫楼二楼处照相→到体育馆二楼领取卧具和军训衣服，
									当场清点好→回到行李寄放处带上行李到宿舍管理处领取自己寝室的钥匙并签字→把行李放到自己的寝室，整理东西。
									<br/><br/>
									成都校区：到自己所在的班级报到处存放行李并领取报道流程表→在第一教学楼财务处缴纳该学年费用→图书馆照相，领取军训所需物品并当场清点好
									→到自己所在的宿舍楼一楼领取床上用品并领取自己寝室的钥匙→把行李放到自己的寝室，开启大学的新篇章。
									<br/><br/>
									都江堰校区：到自己所在的班级报到处存放行李并领取报道流程表→在第五教学楼（综合大楼）缴纳该学年费用→在活动中心处照相
									→同时在活动中心处领取军训所需物品并当场清点好→到活动中心后的休息区领取床上用品→回到行李寄放处带上行李到宿舍管理处领取自己的寝室钥匙并签字
									→把行李放到自己的寝室，开启大学的新篇章。
									<br><br/>
									<p style="color: #149bdf">（整个进校流程都有师兄师姐带领大家，所以不用担心哦）</p>
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">报名时需要银行卡号? </a>
								</h3>
								<div class="faq-answer">
									缴纳学费时可以刷卡，也可以带现金。（建议带上银行卡，
									刷卡方便，带现金不方便且不安全）
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">档案一定要寄吗？ </a>
								</h3>
								<div class="faq-answer">
									可以开学报道带去，也可以邮寄到学校，一定不要丢失。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">可以申请贫困助学金马? </a>
								</h3>
								<div class="faq-answer">
									可以，在当地政府部门盖章认定，到学校后进行评比，认定后的同学会根据贫困程度领取助学金，若成绩达标，可领取贫困奖学金。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">开学体检会体检些什么，大概在什么时候?</a>
								</h3>
								<div class="faq-answer">
									体检是在校医院内进行，在开学时学校就会要求大家体检，
									体检大概就是视力，抽血检验，身高体重测量，看一下身体各处有无毛病等等，不麻烦，希望大家积极配合，完成体检。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">四川农业大学雅安校本部现有的住宿情况和条件如何? </a>
								</h3>
								<div class="faq-answer">
									雅安校区：四川农业大学（雅安校本部）现有学生第一，二，
									三住宿区。其中一区又称为老区，其历史最为悠久，从一台到八
									舍，四六八人间不等，五舍、七台、八舍寝室内无独立厕所，但四六人间里面有书桌。九舍是研究生公寓。且离开水房，洗衣房
									和食堂都很近。第二，第三宿舍区是近几年的，标准的学生公寓集群。二区、三区是四六'八人问都有，有书桌，高新区体育场和农场也很近，较为安静。川农的宿舍类型在通知书附属的新生须知上面有。川农雅安校本部的寝室是没有空调的，但是雅安天气很凉爽的。
									<br><br>
									成都校区：四川农业大学（成都校区）现有11个学生公寓，1-8为普通公寓，9-11为电梯公寓。其中大部分是六人间，也有八人间，寝室内有独立厕所，有书桌。且每栋楼正有洗衣房、水房。寝室有一个电风扇，还可以申请租赁空调。
									<br><br>
									都江堰校区：四川农业大学（都江堰校区）现有学生住宿区以及研究生公寓。其中学生住宿区共有十栋，大部分是六人间，也有四人间，寝室内有独立厕所，但四六人间里面有书桌。且每栋楼下有洗衣房。水房，离食堂也是较近的。虽然寝室里没有空调，但还是有一个电风扇的，夏天也不会很热。

								</div>
							</article>
							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#q2" name="q2">宿舍楼，寝室内部条件设施如何?</a>
								</h3>
								<div class="faq-answer">
									雅安校区：宿舍底楼有寝室阿姨的值班室，旁边是分寝室摆放来信的铁架框。宿舍一般分为七层楼，新生入校后按院系居住不同楼层（学校统一安排）。寝室内：八人问分上下铺，有独立卫生间和阳台以及书架，衣柜（是按床位号排序的）寝室内置电风扇。六人间为上床下桌的布局，其他条件同八人间。寝室内不供应热水（建议大家开学后都买一个或两个水壶），学生需要自已去澡堂洗澡或到开水房打热水回寝室洗澡，不过相信在寝室调整以后，学生宿舍能让学弟学妹们更加满意。
									<br><br>
									成都校区：宿舍楼底有寝室阿姨的值班室，旁边是洗衣房、水房、澡堂。普通公寓为六层楼，还有高层电梯公寓。新生入校后按院系居住不同楼层（学校统一安排）。寝室内分上下铺，有独立卫生同和阳台以及书架，.衣柜（是按床位号排序的），寝：室内量电风扇。六人间为两个上下册，两个上床下桌的布局，寝室内不供应热水（建议大家开学后都某一个或两个水壶），学生需要自己去澡堂洗澡或到开本房打热水回寝室洗澡。
									<br><br>
									都江堰校区：宿舍楼底有寝室阿姨的值班室，旁边是洗衣房、水房。宿舍一般分为五层楼，新生入校后按院系居住不同楼层（学校同意安排）。寝室内分 为五层楼，新生入校后按院系居住不同楼层（学校统一安排）。寝室内分上下铺，有公共卫生间和阳台以及书架，衣柜（按床号排序的），寝室内置电风扇。六人间为两个上下铺，两个上床下桌的布局。寝室内不供应热水（建议大家开学后都买一个或两个水壶），学生需要自己去澡堂洗澡或到开水房打热水回寝室洗澡。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">寝室能用电吹风吗？可以自己做饭吗？</a>
								</h3>
								<div class="faq-answer">
									一般寝室的供电主要是用于充手机电脑等，饮水机要用最小功率的；但是学校有自助室，可以用电吹风等大功率电器，且配有电磁炉、微波炉，可以用来加热东西，锅碗调料自备。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">寝室清洁卫生有人检查吗？可以用自己的被套床单吗？ </a>
								</h3>
								<div class="faq-answer">
									有，军训期间检查较为严格，平时各个学院也会安排查寝。
									军训期间也要求床单被套一致，没有特殊要求时，可以用自己的。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">必须要住校吗? </a>
								</h3>
								<div class="faq-answer">
									没有特殊情况要求全部住校的，可以向舍管提交申请外住。
									私自在外租房是违纪的。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">热水和澡堂的情况如何? </a>
								</h3>
								<div class="faq-answer">
									雅安校区：老区开水房提供热水时间：下午三点到晚上十点。
									澡堂开放时间：下午三点到六点，晚上七点半到十点。
									新区开水房提供热水时间：上八点到中午十一点半。
									澡堂开放时间：下午三点到晚上十点。浴室都是有隔间的，老区浴室每个单间有帘子，新区也有，不过都有些喷头是坏的，用之前记得检查。注：由于夏季是洗澡高峰期，
									开水房和澡堂均会适当延长提供热水的时间，一般为延后半小时。开水两毛一壶，澡堂一毛二一分钟，超出十元不再计费。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">寝室供电情况如何?  </a>
								</h3>
								<div class="faq-answer">
									一般情况寝室楼内（包括自习室）早上六点半亮灯，周一到周日00:30熄灯，不可申请通宵供电。特殊情况下，如夏季炎热的话会通宵供电。每月用电超额的寝室宿舍楼下会有公示牌，室长必须按时缴纳超额电费，否则断电。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校统一发放的卧具有哪些? </a>
								</h3>
								<div class="faq-answer">
									被套两个，床单两张，枕头套两个，枕芯一个，四斤重和两斤种的棉被。大家务必在领到卧具后及时清点好物品。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">晚上会不会查寝? </a>
								</h3>
								<div class="faq-answer">
									部分学院会不定期查寝，所以晚上不能归寝最好有班主任签名的假条。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">寝室收电费吗？  </a>
								</h3>
								<div class="faq-answer">
									每个月每个寝室可以用60度电，超过了60度就要到宿营阿
									姨处交清超额的电费。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">洗衣房的洗衣机怎样收费啊？</a>
								</h3>
								<div class="faq-answer">
									洗衣机的收费是刷卡即使收费。洗完一桶衣服平均消费2-3元。具体的流程在洗衣房里有具体的介绍。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">寝室里面的网可以开无线WiFi吗?</a>
								</h3>
								<div class="faq-answer">
									川农的WiFi覆盖了整个校园的，在寝室里面可以找到无线WIFI。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">在寝室里面用热吹风和小型电器，行吗? </a>
								</h3>
								<div class="faq-answer">
									不行，寝室有限制功率，超过了限制功率，寝室就会自动断电。你可以去宿舍的自助室里面使用吹风机。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校离市中心远不远? </a>
								</h3>
								<div class="faq-answer">
									雅安校区不远。学校（老区）步行至市中5分钟路程。
									成都校区前往成都市中心大概需要一个小时的车程。但是可在温江城中逛家乐福，伊藤洋华堂等大型商场。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校网络有哪些？ </a>
								</h3>
								<div class="faq-answer">
									有校园网，每月15元15个G流量。此外，学校还有电信、移动和联通网络，资费根据不同的套餐而不同。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">寝室会断电吗? </a>
								</h3>
								<div class="faq-answer">
									会，在11:30统一断电。但是如果用了大功率电器也会断电，
									断电一次会马上来电，第二次就会等到第二天，或者更久。所以
									大家要小心使用电器。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">课余时间同学们分别可以在哪些地方学习? </a>
								</h3>
								<div class="faq-answer">
									雅安校区：学校教学楼十教A区六七楼有专用自习室，除此
									以外二楼空教室也可以利用。宿舍每三层楼都有一间自习室，不
									过最佳环境首选图书馆，资源环境都十分利于学习。其次食堂在
									饭点的时间外也可用于学习。再有就是老板山下的读书公园和研
									究生公寓池塘附近，十分适合晨读。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">早上有晨跑，早操和早晚自习吗？ </a>
								</h3>
								<div class="faq-answer">
									学校之前没有统一组织过，以后看是否有机会。建议可以结
									伴运动，锻炼身体。小班也可组织进行早晚自习，重在自我管理。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">大一上期是否就需要带上电脑? </a>
								</h3>
								<div class="faq-answer">
									大一上期，大家对学习环境与情况都不太熟悉，而且学习任
									务相对轻松，所以我们建议不用带上电脑，防止自己沉迷于网络，
									不利于为大学生活开一个好头。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#" name="q3">大学学习和高中有什么本质区别? </a>
								</h3>
								<div class="faq-answer">
									经历过高三拼命学习阶段的人进入大学后会发现大学的学习氛围并没有高中那么强，管理也相对放松。主要在于自我学习，自我管理。自己所支配的时间会多出很多，大家学会合理安排自己的空闲时间。还有就是大学不仅仅是学习，更侧重学生的综合素质发展，培养全方位人才。你会接触到很多新鲜刺激的东西（团日活动，学生社团，学生会，大学生艺术节等）。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">自己可以寻找哪些锻炼门路? </a>
								</h3>
								<div class="faq-answer">
									1）校方，院方都有学生会组织，有兴趣者可多留意参加面试
									<br>
									2）班集体会民主选取班干部，可以为日后评优评奖提供依据
									<br>
									3）校（区）学生社团联合会，学生艺术团等欢迎有特长和爱好的
									小伙伴加入。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">在读学生是否可以转专业? </a>
								</h3>
								<div class="faq-answer">
									不得再跨校区转专业，同校区可转专业。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">自主学习上有困惑该怎么办? </a>
								</h3>
								<div class="faq-answer">
									进入大学，结束了高中时灌输式的学习方式，有了完全自由的
									学习时间。然而刚一开始可能会难以适应，芸至有些不知所措，但也不必过于恐慌，经过一段时间的学习，会慢慢适应这种学习生
									活，找到适合自己的学习方式。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">刚开始该如何规划好自己的学习和生活? </a>
								</h3>
								<div class="faq-answer">
									多看书，勤交流，多听自己感兴趣的讲座，积极参加活动，增长交际能力。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学习生活中应着重学习哪些课程? </a>
								</h3>
								<div class="faq-answer">
									大一的学习中除了要学好基础课，英语和计算机一定要学好，以后考研考公务员都会用到。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">课堂上对老师的讲解有疑惑该怎么办? </a>
								</h3>
								<div class="faq-answer">
									可以课后请教老师，也可以和同学进行探讨。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">平时是在哪里上课的呢? </a>
								</h3>
								<div class="faq-answer">
									雅安校区：一般上课是在一教学楼和十教学楼。
									成都校区：一般上课是在第四教学楼和各学院自己的教学楼
									都江堰校区：一般上课是在第一教学楼和第五教学楼
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">有早自习和晚自习吗? </a>
								</h3>
								<div class="faq-answer">
									根据班级情况而定。由班主任安排。一般没有。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">去图书馆需要什么? </a>
								</h3>
								<div class="faq-answer">
									去图书馆需要携带一卡通，刷过一卡通之后才可以进去。没带一卡通的同学需要登记后方能入内。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">关于学习方面学校会开展哪些活动呢? </a>
								</h3>
								<div class="faq-answer">
									每年比较火热的就是歌唱类艺术比赛，各类篮球比赛等享有关于学习方面的协会像书法协会，数模等等，还有一。些学科知识竞赛，感兴趣的话都是可以参加的。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">如何在图书馆借书呢? </a>
								</h3>
								<div class="faq-answer">
									在图书馆借书需要校园一卡通，将需要借的书递给工作人员
									将一卡通放在感应区域就可以了。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">大一可不可以报考英语四级? </a>
								</h3>
								<div class="faq-answer">
									四川农业大学不限制大一学生报考国家英语四级，因此大一
									入学即可报考12月份的四级考试。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#" name="q4">有哪些主要教学设施楼及其用途？ </a>
								</h3>
								<div class="faq-answer">
									雅安校区：老区正校门两侧分别是体育馆（运动会开幕某些比赛， 和大型活动场地）和综合办公楼（1），综合办公楼（1）对面是第一 教学楼，背后是逸夫楼小礼堂（形势政策课和某些讲座）和综合办公 楼（2）其后就是各个院的实验教学楼。侧门下方为老区食堂和操场， 附近是宿舍区。新区：一条大路两侧分别为第七办公楼，十教，图书 馆，小食堂，二区操场，二区宿舍；校园超市，教职工食堂，医药店， 小吃街，杏苑食堂，二区超市，背后是澡堂和开水房。三区：宿舍区 背后是校园超市，旁边是新区操场，背后是农场（川农大的实验基地）。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">在学习生活上应注意什么? </a>
								</h3>
								<div class="faq-answer">
									由于刚来到一个全新的环境,所以应尽快了解适应当地的气候环 境,注意身体,千万别生病.每天按时上课,
									做好课前预习和课后复习. 没事不要宅在寝室,多跟班上的同学结识交流,多去图书馆,积极参加 班上的活动.
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">刚开始该如何规划好自己的学习和生活?</a>
								</h3>
								<div class="faq-answer">
									多看书,勤交流,多听自己感兴趣的讲座,积极参加活动,增长交际 能力。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">生活学习和部门工作有冲突该怎么办?</a>
								</h3>
								<div class="faq-answer">
									生活学习与部门冲突也是相对的，重在你是否能够合理的计划自 己的时间，合理的安排自己的生活，很多工作都是在不断地挤时间的 过程中完成的。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">平时是在哪里上课的呢？</a>
								</h3>
								<div class="faq-answer">
									雅安校区：一般上课是在一教学楼和十教学楼。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">考试成绩占总成绩的比重是多少? </a>
								</h3>
								<div class="faq-answer">
									一般都是百分之五十到六十
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">上课学习压力大不大? </a>
								</h3>
								<div class="faq-answer">
									这个要看个人，一般上课认真听，然后期末好好复习，就一定会过，挂科很难
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">选课是怎么选的？</a>
								</h3>
								<div class="faq-answer">
									大一上学期不能选课，从大一下学期开始选课，可以根据自己各 方面的情况，时间，专业性质和喜好等综合考虑选课，一般都是等大 三的先选，其次大二，最后大一的选课，不过应该注意选课系统的时 间限制
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">考试形式是什么样的? </a>
								</h3>
								<div class="faq-answer">
									有机考，卷面，课程论文和实验四种形式
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校允许修双学位吗？</a>
								</h3>
								<div class="faq-answer">
									允许。具体要求如下： 1.在校各专业二、三年级本科学生。 2.思想品德好，身体健康，学有余力。 3.各科成绩合格。 4.外语要求四级（艺体类和职教类为外语三级）等级考试合格或大学 外语课程成绩达到70 5.申请修读英语专业双学位者，要求英语四级等级考试合格或大学英语课程成绩达到80 6.每个学生只能选修一个双学位专业，且与主修专业必须分属不同的学科门类；学生不得跨校区修读双学位。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">选课只能选自己专业的吗？ </a>
								</h3>
								<div class="faq-answer">
									不是。选课从大一下学期开始，每个专业选修学分不同，按照每 个专业人才培养方案而定，可以选其他学院其他专业的课程，只要修 满相应的学分
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">体育课怎么上？</a>
								</h3>
								<div class="faq-answer">
									一上学期，体育基础理论课，在教室里上理论知识，大一下半 学期开始上实践课。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">游泳不会的可以不选修吗？</a>
								</h3>
								<div class="faq-answer">
									不可以，除非你有医院出据证明不可以下水，就可以改换其他的 考试科目，比如说太极拳。 95、问：游泳是不是下水就合格？ 答：这个说法是错误的，一般来说必须游6米才及格，10米满分。 游泳课有三次，第一二次学习，第三次考试，可是是很简单的。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">雅安校区大小食堂总共有多少个，分别位于哪些地方？ </a>
								</h3>
								<div class="faq-answer">
									六个，其中新校区四个，老校区两个。杏园食堂位于二区对面，小食堂位于二区篮球场旁边，小木屋位于三区大操场背后。老区两个食堂紧挨着位于老区操场旁，老区素质文化中心楼下。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">食堂消费水平如何？</a>
								</h3>
								<div class="faq-answer">
									学校食堂菜色多样，价格合理。人均日消费水平在15-20 元左右， 一个月600 元用于伙食费足够。一人中午，晚上一素一荤就可以吃得 很饱了。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">雅安校区周边餐馆情况如何？</a>
								</h3>
								<div class="faq-answer">
									新区紧靠老板山，门外餐馆并不多，有面食店，干锅店，奶茶店， 套餐店。老区外出，离街面较近，周边饭馆较多，基本上同学们可以 投己所好。特别是到了晚上，外边有很多卖烧烤的。向东饭店，豆花 饭，干锅，馄饨都是不错的选择。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校除食堂外，有无用于聚餐吃饭的场所？</a>
								</h3>
								<div class="faq-answer">
									新区十教对面有小吃一条街，里面炒菜，炒饭，干锅，冒菜，套 餐，面食，奶茶，小卖铺，煎饼什么都有，大家初来乍到如果对校外 不熟悉，小吃街是首要选择。二区上方还有校园超市，外置很多大圆 桌，对大家也可以买了东西到那里聚聚。还有就是二区门口对面有卖 冒菜和烧烤的，方便。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">四川农业大学有没有廉价实惠又具有象征性的食品？</a>
								</h3>
								<div class="faq-answer">
									有的，川农大馒头，一元一个。两个就吃得很饱了呢，最主要的 是卫生，吃得放心。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">住校期间购买水果是否方便？ </a>
								</h3>
								<div class="faq-answer">
									方便。连接新区和老区的濆江桥上一到晚上就会有很多小棚车， 卖水果，老区外一直都有卖水果的摊贩和超市。二区也有水果超市。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">雅安有哪些快餐连锁店和好吃的？</a>
								</h3>
								<div class="faq-answer">
									大型快餐连锁店就只有德克士，雅安人民路附近很多小巷子里面 的小吃大家可以试试，还有就是刘一手，德庄，嘉良等大型火锅店， 还有就是贡椒鱼，雅鱼（比较贵）。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">食堂的营业时间。</a>
								</h3>
								<div class="faq-answer">
									中午一般是十一点至十二点半，下午一般是五点至六点，夏季下 午会延长至六点四十，没有明确的用餐时间，这个是根据经验而得。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">食堂里的菜品都有什么？</a>
								</h3>
								<div class="faq-answer">
									早餐一般有包子，稀饭，豆浆，面，面包，饼和各种甜食面点； 午晚餐有米饭，大锅荤菜，素菜，凉菜，单锅小炒，盖浇饭，抄手和 各种面条。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校里还有哪些别的就餐的地方？ </a>
								</h3>
								<div class="faq-answer">
									新区学校里有一条小吃街，老区出了校门口就是一条小吃街。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">小吃街里都有什么吃的？ </a>
								</h3>
								<div class="faq-answer">
									有刀削面，盖浇饭，炒饭，炒面，冒菜，砂锅，烧烤，干锅等等 应有尽有。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">吃的都很辣吗？</a>
								</h3>
								<div class="faq-answer">
									一般都是有辣椒的，因为这边气候潮湿，吃辣可以除湿气，但也 有不辣的可供选择。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校里可以自己做饭吗？</a>
								</h3>
								<div class="faq-answer">
									可以，宿舍楼下有自助室，里面有电磁炉，微波炉。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校里有几个超市？</a>
								</h3>
								<div class="faq-answer">
									新区有两个大超市，二区宿舍还有两三个小超市；老区有一个大 超市，老区门口还有一个大点的博娟超市。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">平时买水果蔬菜去哪里买？</a>
								</h3>
								<div class="faq-answer">
									新区后面的农场里有许多卖水果的，新区门口的濆江桥上，老区 门口都有卖的，蔬菜要去老区门口那边的菜市场买。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">一个月的生活费大概要多少？ </a>
								</h3>
								<div class="faq-answer">
									这个要因人而异，但是一个月的基本生活费一般来说在600 左右， 此外，有购物、聚餐、考试报名等等其他支出，因此大部分人的每个 月的生活费在900 到1000 左右。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校消费一般是用现金还是刷卡。</a>
								</h3>
								<div class="faq-answer">
									在校内的食堂、开水房、澡堂只能刷学校统一发放的校园一卡通， 在校园超市消费可以选择刷一卡通也可以选择付现金。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">一卡通如何充值？</a>
								</h3>
								<div class="faq-answer">
									在老区行政楼的一楼有专门的一卡通充值中心，可在该处充值现金。另外，为了方便你也可以将一卡通绑定你的银行卡，这样直接转账即可。或者使用支付宝也是能够充值的。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校里有健身房吗? </a>
								</h3>
								<div class="faq-answer">
									雅安校区；老区体育馆那里有一个健身房。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校里有游泳池吗? </a>
								</h3>
								<div class="faq-answer">
									雅安校区：新区三区操场和老区操场都有游泳池。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校里各种球类运动场所多吗？ </a>
								</h3>
								<div class="faq-answer">
									雅安校区：篮球场较多，每一个操场都有；足球场有两个，三区操场和老区操场；羽毛球场在老区操场和体育馆里有；网球场只有二区操场有；排球场也在而去三区操场和老去操场；新区素质文化中心和体育馆还有台球馆。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学生团体有哪些？</a>
								</h3>
								<div class="faq-answer">
									学校学生会各部门，团委指数各部门，各院校学生会各部门，各院系啊团委各部门，社团联合会各部门及各协会，勤工助学指导中心各部门，招生就业办公室以及基地团队，青年信息中心。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">大一新生如何申请加入学生会等组织？ </a>
								</h3>
								<div class="faq-answer">
									学生会等学生组织在新生入学后会统一开展招新活动，你可 以根据自己的自身情况选择，然后填写申请。通过面试后，可以进入部门实习。实习期通过即可转为正式成员一干事。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校有志愿者活动吗?</a>
								</h3>
								<div class="faq-answer">
									这个是每个学院有青年志愿者协会，不定期举办一些志愿者活动，可以加入成为志愿者，学校团委也有志工部，也会举办一些志愿者活动，可以参加。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校有运动会吗?除此之外还有哪些比赛项目? </a>
								</h3>
								<div class="faq-answer">
									学校每四年一届运动会，项目众多，重在参与。同时各个学院也有自己举办运动会。除了运动会，学校还有大学生艺术节，等级考试，文艺比赛等。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校允许做兼职吗? </a>
								</h3>
								<div class="faq-answer">
									学校是允许大学生勤工助学的，学校有专门的勤工助学部可以为大家提供兼职岗位，都能够很容易找到兼职。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学生部门、社团等这么多，怎么了解到招新的一些时间信息
										啊? </a>
								</h3>
								<div class="faq-answer">
									在每一个学生部门、社团等开始招新的时候，都会进行大量的宣传。所以不用担心会了解不到信息。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">学校附近总共有几个车站，分别是负责哪些方向的？ </a>
								</h3>
								<div class="faq-answer">
									雅安校区：总共有两个车站，旅游车站和此西门车站。大家从外地进雅安主要是到西门车站，小伙伴们可以根据自己所在城市有无直达雅安的交通工具，选择最方便的工具乘坐。旅游车站主要是前往雅安管辖范围下的县镇和周边旅游地区。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">有必要买自行车吗? </a>
								</h3>
								<div class="faq-answer">
									雅安校区新老区教学区距离较远，可以根据自己需求来买，温江、都江堰校区相对较小，喜欢骑行的可以买。当然三校区已经有了共享单车，可使用共享单车。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">报名时间是多久了军训要训练多长时间?训练量大不大?军
										训要注意些什么? </a>
								</h3>
								<div class="faq-answer">
									新生报到接待时间是9月5.6.7日，8.9.10三日入学
									教育。军训时间为9月11日起军训一周；训练量不大，几乎每半小时就休息两次，坚持不住告诉教官就可以休息了；多准备几双尽量软一点儿的鞋垫替换；记得抹防晒霜，雅安紫外线较强，不然会晒伤。军训具体场地等学校统一通知。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">军训一般内容有哪些? </a>
								</h3>
								<div class="faq-answer">
									练习齐步。正步、跑步、阅兵，唱军歌，才艺表演，模拟射击，站军姿。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">军训提不提供水? </a>
								</h3>
								<div class="faq-answer">
									每个学院会有专门的服务点提供热水，同学可以只带一个水杯，也可以自己带瓶装水，另外休息期间有人卖冰冻水，教官准许同学们在休息期间买水。
								</div>
							</article>

							<article class="faq-item active">
								<span class="faq-icon"></span>
								<h3 class="faq-question">
									<a href="#">军训期间会上课吗? </a>
								</h3>
								<div class="faq-answer">
									军训期间不上课，白天军训，晚上休息，晚上的时间自己安 排，军训完后正式上课。
									（具体内容以实际情况为准）
								</div>
							</article>

						</div>
					</div>
					<!-- end of page content -->

					{include file="public/sidebar" /}
				</div>
			</div>
		</div>
		<!-- End of Page Container -->

		{include file="public/footer" /}

		<a href="#top" id="scroll-top"></a>

		<!-- script -->
		<script type='text/javascript' src='__JS__/jquery-1.8.3.min.js'></script>
		<script type='text/javascript' src='__JS__/jquery.easing.1.3.js'></script>
		<script type='text/javascript' src='__JS__/prettyphoto/jquery.prettyPhoto.js'></script>
		<script type='text/javascript' src='__JS__/jflickrfeed.js'></script>
		<script type='text/javascript' src='__JS__/jquery.liveSearch.js'></script>
		<script type='text/javascript' src='__JS__/jquery.form.js'></script>
		<script type='text/javascript' src='__JS__/jquery.validate.min.js'></script>
		<script type='text/javascript' src='__JS__/custom.js'></script>

	</body>

</html>